.tssg-editor {
  border: none;
  width: 100%;
}

.CodeMirror {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 16px;
}

.how-to-guide p {
  margin-bottom: 10px;
}

.how-to-guide pre {
  background: #1a202c;
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
}

.how-to-guide ul {
  margin-left: 40px;
}

.how-to-guide h3 {
  font-size: 18px;
}

.how-to-guide h3,
.how-to-guide h4 {
  color: white;
  padding: 10px;
  margin: 10px auto;
  background: royalblue;
  text-align: center;
  font-weight: bold;
}

.how-to-guide p strong {
  color: royalblue;
}

.how-to-guide p code, .how-to-guide ul li code {
  background: #38a169;
  color: white;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.how-to-guide blockquote {
  background: #eee;
  border-left: 8px solid royalblue;
  padding: 10px;
  margin: 10px 0;
}

.how-to-guide blockquote p {
  padding: 0;
  margin: 0;
}
